@use "assets/styles/variables.scss" as *;

.container {
  display: flex;
  min-height: 100vh;
  background: var(--color-background);
}

.sitenav {
  flex-shrink: 0;
  background: var(--color-primary-100);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: $gap-24;
  height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
  @media (max-width: $screen-640) {
    display: none;
  }
}

.sitenav::-webkit-scrollbar {
  display: none;
}

.mobileSitenav {
  display: none;
  
  @media (max-width: $screen-640) {
    flex-shrink: 0;
    background: var(--color-primary-100);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: $gap-24;
    height: 100vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    z-index: 100;
    position: absolute;
  }
}

.mobileSitenav::-webkit-scrollbar {
  display: none;
}

.darkModeButton {
  width: 30px;
  margin: 10px;
  align-self: flex-end;
  cursor: pointer;
  background: var(--color-primary-100);
}

.themeSwitcher {
  padding: 10px;

  @media (max-width: $screen-1280) {
    display: flex;
    width: 60px;
  }
  @media (max-width: $screen-640) {
    display: flex;
    width: 100%;
  }
}

.themeSwitcher:focus {
  outline: none;
}

.content {
  padding: $gap-24;
  overflow-y: auto;
  height: 100vh;
  width: 100%;

  .inner {
    max-width: $max-content-width;
  }

  a {
    color: var(--color-primary-500);

    &:hover {
      color: var(--color-primary);
    }
  }
}

.header {
  h1 {
    position: relative;
    display: inline-block;
    z-index: 1;
  }

  h1:after {
    position: relative;
    display: block;
    content: "";
    background: var(--color-primary-100);
    z-index: -5;

    height: 15px;
    top: -20px;
    left: 20px;
  }
}

.newsletter {
  margin: $gap-32 0;
}

.footer {
  text-align: center;
}
