@use 'assets/styles/variables.scss' as *;

.container {
  display: flex;
  flex-direction: column;
  background: var(--color-background);
}

.content {
  margin: $gap-24;

  @media (max-width: $screen-640) {
    margin: $gap-16;
  }

  a {
    color: var(--color-primary-500);

    &:hover {
      color: var(--color-primary);
    }
  }
}
