@use 'assets/styles/variables.scss' as *;

.filter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: $gap-8;

    p {
        font-weight: $font-bold;
        margin: 0 $gap-8 0 0;
    }

    .sort {
        width: 200px;
    }
}
