@use 'assets/styles/variables.scss' as *;

.container {
    h2 { 
        margin-bottom: $gap-8;
    }

    // Index
    .featured {
        margin-bottom: $gap-16;
    }

    // Submit
    iframe {
        background: transparent;
        border: 1px solid #ccc;
    }

    // Resources
    .authors { 
        width: auto;
        display: flex;
        align-items: center;
        
        div:first-child {
            span {
                font-weight: $font-bold;
                margin-right: $gap-8;
            }

            ul {
                display: inline-flex;
                margin-right: $gap-8;
            }
        }
    }

    .website {
        display: flex;
    }

    .tags { 
        display: flex;
        align-items: center;
        align-content: flex-start;
        justify-content: space-between;

        >:first-child {
            margin-right: $gap-8;
        }
        
        .level {
            flex-shrink: 0;
            padding: $gap-8;
        }
    }

    .content { 
        p {
            white-space: pre-wrap;
        }
    }

    .muted { 
        color: $color-neutral-500;
        font-size: smaller;
    }

    // Category page
    .filter {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: $gap-8;
    
        p {
            font-weight: $font-bold;
            margin: 0 $gap-8 0 0;
        }
    
        .sort {
            width: 200px;
        }
    }
}