@use 'assets/styles/variables.scss' as *;

.container {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

  li {
    margin-right: $gap-8;

    a {
      color: var(--color-neutral);
    }
  }
}
