@use "assets/styles/variables.scss" as *;

.container {
  h3 {
    margin-bottom: $gap-16;
  }

  p {
    margin-bottom: 0;
  }

  background: var(--color-secondary-100);
  border-radius: $gap-8;
  text-align: center;
  margin-bottom: $gap-16;
  padding: $gap-16 $gap-16;
}
