@use "assets/styles/variables.scss" as *;

.fab {
  display: none;
  @media (max-width: $screen-640) {
    display: block;
    z-index: 200;
    position: fixed;
    top: 87%;
    margin-left: 80vw;
    height: 3rem;
    width: 3.5rem;
  }
}

.fabIcon {
  height: 2rem;
  width: 2rem;
}
