@use 'assets/styles/variables.scss' as *;

.container {
  .header {
    display: flex;
    align-items: center;
  }

  .link {
    margin-left: $gap-8;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @media (max-width: $screen-1024) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: $screen-640) {
      grid-template-columns: 1fr;
    }
  }

  .rows {
    display: grid;
    grid-template-columns: 1fr;
  }
}
