@use 'assets/styles/variables.scss' as *;

.container {
  .header {
    display: flex;
    align-items: center;
    margin-bottom: $gap-16;

    h3 {
      font-weight: $font-bold;
      text-transform: uppercase;
    }
  }

  .link {
    margin-left: $gap-8;
  }

  .grid {
    display: grid;
    gap: $gap-16;
    grid-template-columns: 1fr 1fr 1fr;

    @media (max-width: $screen-1024) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: $screen-640) {
      grid-template-columns: 1fr;
    }
  }

  .double {
    grid-template-columns: 1fr 1fr;

    @media (max-width: $screen-640) {
      grid-template-columns: 1fr;
    }
  }

  .rows {
    display: grid;
    gap: $gap-16;
    grid-template-columns: 1fr;
  }
}
