@use 'assets/styles/variables.scss' as *;

.container {
  table {
    width: 100%;
    border-collapse: collapse;
  }

  tr:nth-of-type(odd) {
    background: rgba(182, 196, 196, 0.2);
    color: '#3C4A59';
  }

  th {
    background: rgba(182, 196, 196, 1);
    color: '#3C4A59';
    font-weight: bold;
  }

  td,
  th {
    padding: $gap-8;
    border: 2px solid #fff;
    text-align: left;
    border-radius: $gap-8;
  }

  .right {
    text-align: right;
  }

  .customInput {
    padding: 2px 4px;
    width: 100%;
    text-align: right;
    border: 1px solid rgba(182, 196, 196, 1);
  }
}
