@use 'assets/styles/variables.scss' as *;

.container {
  .newsletter {
    margin: $gap-8 0;
    padding: $gap-8;
  }

  .filters {
    display: flex;
    justify-content: center;
    margin: $gap-8 0;
  }
}
