@use 'assets/styles/variables.scss' as *;

.container {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.tag {
  display: inline-block;
  font-size: $size-12;
  padding: 0 $gap-8;
  background: var(--color-secondary-100);
  margin-left: $gap-8;
}

.info {
  background: var(--color-info);
  color: var(--color-info-dark);
}

.success {
  background: var(--color-success);
  color: var(--color-success-dark);
}

.warning {
  background: var(--color-warning);
  color: var(--color-warning-dark);
}

.error {
  background: var(--color-error);
  color: var(--color-error-dark);
}
