@use 'assets/styles/variables.scss' as *;

.container {
  .icon {
    margin-right: $gap-8;
  }
}

.primary {
  --block-accent-color: #004fff; // primary-500
}

.secondary {
  --block-accent-color: #eba134; // secondary
}

.twitter {
  --block-accent-color: #1da1f2;
}

.github {
  --block-accent-color: #333;
  color: var(--color-neutral-100);
}

.website {
  --block-accent-color: #ffffff;
  color: #151a26 !important;
}
