@use 'assets/styles/variables.scss' as *;

.container {
  margin: $gap-16 0;

  section {
    h3 {
      margin-bottom: $gap-16;
    }

    padding: $gap-16 $gap-32;
    text-align: center;

    @media (max-width: $screen-640) {
      padding: $gap-16 $gap-16;
    }

    .row {
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;

      input {
        padding: $gap-8;
        margin-right: $gap-8;
        width: 100%;
        outline: none;
      }

      @media (max-width: $screen-480) {
        flex-wrap: wrap;

        input {
          margin-right: 0;
        }
      }
    }
  }
}
