@use "assets/styles/variables.scss" as *;

.container {
  .sidenav {
    list-style-type: none;
  }

  .sidenav li {
    font-size: $size-20;
    padding: $gap-8 $gap-16;
  }

  .text {
    margin-left: $gap-16;

    @media (max-width: $screen-1280) {
      display: none;
    }
    @media (max-width: $screen-640) {
      display: inline-block;
    }
  }

  .active {
    background-color: #fff;
  }
}
