@use './variables' as *;

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://unpkg.com/blocks.css/dist/blocks.min.css');

html,
body {
  margin: 0 auto;
  padding: 0;
  font-family: $font-primary;
  font-weight: $font-normal;
  font-size: $size-16;
  color: var(--color-neutral);
  --block-accent-color: #eba134;
  overflow: hidden;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  min-height: 0;
  min-width: 0;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: var(--color-neutral-500);
  }
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

h1, .h1 {
  font-size: $size-h1;
  color: var(--color-text);
}

h2, .h2 {
  font-size: $size-h2;
  color: var(--color-text);
}

h3, .h3 {
  font-size: $size-h3;
  color: var(--color-text);
}

.p, p,
.article, article {
  margin-bottom: $gap-16;
  color: var(--color-text);
}
