// Fonts
$font-primary: 'JetBrains Mono', 'Courier New', monospace;

// Weight
$font-normal: 400;
$font-bold: 700;

// Colors
$color-primary: #000D99;
$color-primary-500: #004FFF;
$color-primary-100: #99CCFF;

$color-secondary: #EBA134;
$color-secondary-500: #FAC748;
$color-secondary-100: #FFE3B2;

$color-neutral: #151A26;
$color-neutral-500: #6A707F;
$color-neutral-100: #E9ECF1;

// Error, warning, succes, info colors 
$color-info: #d0f0fd;
$color-info-dark: #04283f;
$color-success: #d1f7c4;
$color-success-dark: #0b1d05;
$color-warning: #ffeab6;
$color-warning-dark: #3b2501;
$color-error: #ffdce5;
$color-error-dark: #4c0c1c;

// Sizes
$size-12: 0.75rem; // 12px
$size-16: 1rem; // 16px
$size-20: 1.25rem; // 20px

// Headings 
$size-h1: 2rem; // 32px
$size-h2: 1.75rem; // 28px
$size-h3: 1.5rem; // 24px

// Gaps
$gap-8: 8px;
$gap-16: 16px;
$gap-24: 24px;
$gap-32: 32px;
$gap-40: 40px;

// Screens
$screen-360: 360px;
$screen-480: 480px;
$screen-640: 640px;
$screen-768: 768px;
$screen-1024: 1024px;
$screen-1280: 1280px;

// Content
$max-content-width: $screen-1280 + (24px * 2);