@use 'themes/dark.scss';
@use 'themes/light.scss';

// Fonts
$font-primary: 'PT Mono', 'Courier New', monospace; // 'JetBrains Mono'
$font-secondary: 'Times New Roman', 'Georgia', serif;
$font-tertiary: Helvetica, Arial, sans-serif;

// Weight
$font-normal: 400;
$font-bold: 700;

// Sizes
$size-12: 0.75rem; // 12px
$size-16: 1rem; // 16px
$size-20: 1.25rem; // 20px
$size-24: 1.5rem; // 24px
$size-32: 2rem; // 32px

// Headings
$size-h1: 2rem; // 32px
$size-h2: 1.75rem; // 28px
$size-h3: 1.5rem; // 24px

// Gaps
$gap-8: 8px;
$gap-16: 16px;
$gap-24: 24px;
$gap-32: 32px;
$gap-40: 40px;

// Screens
$screen-360: 360px;
$screen-480: 480px;
$screen-640: 640px;
$screen-768: 768px;
$screen-1024: 1024px;
$screen-1280: 1280px;

// Content
$content-width: $screen-640 + (24px * 2);
$max-content-width: $screen-1280 + (24px * 2);

// Themes
$themes: (
  'light': light.$colors,
  'dark': dark.$colors,
);

@each $theme-name, $theme-vars in $themes {
  $colors: $theme-vars;

  .#{$theme-name} {
    // Variables for each color
    @each $name, $color in $colors {
      --color-#{$name}: #{$color};
    }
  }
}
